
services:
  web:
    build: .
    container_name: flask_backend
    ports:
      - "5000:5000"
    depends_on:
      - redis
  redis:
    image: redis:alpine
    container_name: redis_cache
    ports:
      - "6379:6379"
      