

services:
  backend:
    build: ./backend
    container_name: expense_backend
    environment:
      DB_HOST: host.docker.internal
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: password
      DB_NAME: expense
    volumes:
      - .:/app
    ports:
      - "5000:5000"
    restart: always

  pgadmin:
    image: dpage/pgadmin4
    container_name: expense_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "8080:80"
    volumes:
      - ./pgadmin_data:/var/lib/pgadmin
    restart: always
