{% extends "base.html" %}

{% block content %}
<h2>All Expenses</h2>

<table border="1" cellpadding="8" cellspacing="0">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Created At</th>
        <th>Action</th>
    </tr>
    {% for e in expenses %}
    <tr>
        <td>{{ e[0] }}</td>
        <td>{{ e[1] }}</td>
        <td>{{ e[2] }}</td>
        <td>{{ e[3] }}</td>
        <td>{{ e[4] }}</td>
        <td>
            <form method="POST" action="{{ url_for('delete_expense', expense_id=e[0]) }}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
